input{display:none;}
label span
{
    background-color:white;
    cursor: pointer; 
    display:block; 
    width: 25px; 
    height:5px; 
    margin-left:1%; 
    top:10px;
    position: absolute;
    border-radius:20%;
    z-index:1;
    transition: all 0.3s ease-in-out;
}


label span:nth-child(1){ margin-top:0px;}
label span:nth-child(2){ margin-top:8px;}
label span:nth-child(3){ margin-top:16px;}

div.icon{
    z-index:1;
    top: 0;
    position:absolute;
    margin-left:5%;
    width:25px;
    height:50px;
    cursor: pointer;
    
}

input[type="checkbox"]:checked ~ label span:nth-child(1){
     transform: rotate(-56deg)
     translatex(-20px) 
     translatey(4px);

     margin-left:3px;
     top: 5px;
}

input[type="checkbox"]:checked ~ label span:nth-child(2){
    transform: rotate(56deg) 
    translatex(11px) 
    translatey(4px);
    
    margin-left:3px;
    top:5px;
}

input[type="checkbox"]:checked ~ label span:nth-child(3){opacity:0;}

ul{
    position:absolute;
    top:10%;
    left:2%;
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
    border: 1px white solid;
    border-right: none;
    border-left: none;
    background-color: black;
    display: block;
    width: 250px;
}
a:hover{
    background-color: rgb(161, 139, 139);
}

#menu{
    left:-270px;
    position: absolute;
    height:500px;
    width:256px;
    background-color:black;
    transition: all 0.5s;
}

    
input[type="checkbox"]:checked ~ #menu{
    left:0px;
    top:8%;
    z-index:1;
    
} 


